@model RailwayReservationSystem.Models.ViewModels.TrainsViewModel

<form method="post" class="container w-50 py-4">
    <div class="border rounded-4 p-3">
        <div class="row pb-2">
            <h2 class="text-primary">Update Train</h2>
            <hr />
        </div>
        <input hidden asp-for="Train.TrainNo" />
        <input hidden asp-for="PrevStation" />
        <div class="mb-3">
            <label asp-for="Train.Name"></label>
            <input asp-for="Train.Name" class="form-control" />
            <span asp-validation-for="Train.Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Train.Capacity"></label>
            <input asp-for="Train.Capacity" class="form-control" />
            <span asp-validation-for="Train.Capacity" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Train.StationId"></label>
            <select asp-for="Train.StationId" asp-items="@Model.StationsList" class="form-control">
                <option disabled selected>--Select Station--</option>
            </select>
            <span asp-validation-for="Train.StationId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Train.Status">Status</label>
            <select asp-for="Train.Status" asp-items="Html.GetEnumSelectList<Train.TrainStatus>()" class="form-control">
            </select>
            <span asp-validation-for="Train.Status" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
        <a asp-controller="Train" asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</form>