@using System.Globalization;
@model RailwayReservationSystem.Models.ViewModels.BookingCartVM
@using Microsoft.Extensions.Options
@inject IOptions<RailwayReservationSystem.Utility.StripeSettings> Stripe

<form method="post" class="py-5">
	<div class="card container">
		<div class="card-header bg-info py-4 row align-items-center">
			<div class="col-12 col-md-6">
				<h1 class="text-light mb-0">
					<i class="fas fa-shopping-bag"></i> &nbsp;CHECKOUT
				</h1>
			</div>
			<div class="col-12 col-md-6 text-right">
				<a asp-area="User" asp-controller="Cart" asp-action="Index" class="btn btn-dark">BACK TO CART</a>
			</div>
		</div>
		<div class="card-body">
			<div class="container rounded p-2">
				<div class="row">
					<div class="col-12 col-lg-6 pb-4">
						<div class="row">
							<h4 class="d-flex justify-content-between align-items-center mb-3">
								<span class="text-info">USER DETAILS</span>
							</h4>
						</div>
						<div class="row mb-2">
							<div class="col-3">
								<label>NAME:</label>
							</div>
							<div class="col-9">
								<input readonly asp-for="OrderHeader.Name" class="form-control" />
							</div>
						</div>
						<div class="row mb-2">
							<div class="col-3">
								<label>AGE:</label>
							</div>
							<div class="col-9">
								<input readonly asp-for="OrderHeader.Age" class="form-control" />
							</div>
						</div>
						<div class="row mb-2">
							<div class="col-3">
								<label>GENDER:</label>
							</div>
							<div class="col-9">
								<input readonly asp-for="OrderHeader.Gender" class="form-control" />
							</div>
						</div>
						<div class="row mb-2">
							<div class="col-3">
								<label>CONTACT:</label>
							</div>
							<div class="col-9">
								<input readonly asp-for="OrderHeader.PhoneNumber" class="form-control" />
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-5 offset-lg-1">
						<h4 class="d-flex justify-content-between align-items-center mb-3">
							<span class="text-info">ORDER SUMMARY</span>
						</h4>
						<ul class="list-group mb-3">
							@foreach (var item in Model.CartList)
							{
							<li class="list-group-item d-flex justify-content-between">
								<div>
									<h6 class="my-0">@(item.Schedule.Source.City + " To " + item.Schedule.Destination.City)</h6>
									<p class="text-muted mb-0">SEATS: @item.Seats</p>
								</div>
									<span class="text-muted">@((item.Schedule.Fare * item.Seats).ToString("C", CultureInfo.CreateSpecificCulture("ur-PK")))</span>
							</li>
							}

							<li class="py-3 list-group-item d-flex justify-content-between bg-light">
								<p class="text-info mb-0">TOTAL (PKR)</p>
								<strong class="text-info">@Model.OrderHeader.OrderTotal.ToString("C", CultureInfo.CreateSpecificCulture("ur-PK"))</strong>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="card-footer">
			<div class="row">
				<div class="col-sm-12 col-lg-4 col-md-6 offset-lg-8 offset-md-6">
					<button type="submit" value="Confirm Booking" class="w-100 btn btn-lg btn-info">CONFIRM BOOKING</button>
				</div>
			</div>
		</div>
	</div>
</form>
