@model Passenger

<form method="post" class="container w-50 py-4">
    <div class="border rounded-4 p-3">
        <div class="row pb-2">
            <h2 class="text-primary">Update Passenger Details</h2>
            <hr />
        </div>
            <input hidden asp-for="PassengerId" />
            <input hidden asp-for="Age" />
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="CNIC"></label>
            <input asp-for="CNIC" class="form-control" />
            <span asp-validation-for="CNIC" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Gender"></label>
            <input asp-for="Gender" class="form-control" />
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="DOB"></label>
            <input asp-for="DOB" class="form-control" />
            <span asp-validation-for="DOB" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PhoneNo"></label>
            <input asp-for="PhoneNo" class="form-control" />
            <span asp-validation-for="PhoneNo" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
        <a asp-controller="Passenger" asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</form>