@model Schedule

<form method="post" class="container w-50 py-4">
    <div class="border rounded-4 p-3">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Schedule</h2>
            <hr />
        </div>
        <input asp-for="ScheduleId" hidden />
        <div class="mb-3">
            <label asp-for="Departure"></label>
            <input disabled asp-for="Departure" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Arrival"></label>
            <input disabled asp-for="Arrival" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Source.Name">Source</label>
            <input disabled asp-for="Source.Name" class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="Destination.Name">Destination</label>
            <input disabled asp-for="Destination.Name" class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="Train.Name">Train</label>
            <input disabled asp-for="Train.Name" class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="SeatsAvailable">Seats Left</label>
            <input disabled asp-for="SeatsAvailable" class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="SeatsBooked">Seats Booked</label>
            <input disabled asp-for="SeatsBooked" class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="Status">Status</label>
            <input disabled asp-for="Status" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Delete</button>
        <a asp-controller="Schedule" asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</form>