@model Passenger

<form method="post" class="container w-75">
    <div class="border rounded-4 p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Passenger</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input disabled asp-for="Name" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="CNIC"></label>
            <input disabled asp-for="CNIC" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Gender"></label>
            <input disabled asp-for="Gender" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="DOB"></label>
            <input disabled asp-for="DOB" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Email"></label>
            <input disabled asp-for="Email" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="PhoneNo"></label>
            <input disabled asp-for="PhoneNo" class="form-control" />
        </div>
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-controller="Passenger" asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</form>